body {
     background-image: url(jeremy-thomas-4dpAqfTbvKA-unsplash.jpg);
    color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
